
.container
  .row
    .col-offset-1.col-lg-10
      .jumbotron
        %h2 We are sorry but your requested page was not found 
        %h5 For you techies: This is an Http Error 404 response page.
        %p 
          Please try the following link as a starting place 
          %a(href="/about") Ficonab.com.  
          Alternatively email us at 
          %a(href="mailto:info@ficonab.com") email 
          and report your problem directly to the source