.panel.panel-success
  .panel-heading 
    = I18n.translate('commands3d.title')
  .panel-body
    %p Commands to get entries
    - heads = ["command","result"] 
    - vals= [{cmd: "3D",res: I18n.translate('commands3d.3d')},{cmd: "3D x x x", res: I18n.translate('commands3d.3dxxxx')}]
    %table(class="table table-hover table-condensed")
      %tr
        - heads.each do |h|
          %th=h
      - vals.each do |v|
        %tr
          %td=v[:cmd]
          %td=v[:res]