<!DOCTYPE html>
%html(lang="en")
  = haml :commonlayout, :layout => false
  %body
    :javascript
      var _kiq = _kiq || [];
    %script(type="text/javascript" src="//s3.amazonaws.com/ki.js/38337/82f.js" async="true")
    .container
      = haml :header, :layout => false
      = yield
      = haml :footer, :layout => false