#carousel-example-generic(class="carousel slide" data-ride="carousel" data-interval=4000)
  %ol.carousel-indicators
    %li(data-target="#carousel-example-generic" data-slide-to="0" class="active")
    - 1.upto(3) do |i|
      %li(data-target="#carousel-example-generic" data-slide-to="#{i}" )
  .carousel-inner
    .item
      %img(src="/attachments/winners/inacia-laga-200.jpg" alt="$200 winner")
      .carousel-caption
        %h2.text-primary $200 Winner from Laga District
    .item.active
      %img(src="/attachments/winners/manututo-3000.JPG" alt="$200 winner")
      .carousel-caption
        %h2.text-primary 4D Manututo $3000 Winner Sept 2014
    .item
      %img(src="/attachments/winners/luckysms_3d_100.JPG" alt="$200 winner")
      .carousel-caption
        %h2.text-primary 3D $100 Winner Dili District
    .item
      %img(src="/attachments/winners/free_movie.JPG" alt="$200 winner")
      .carousel-caption
        %h2.text-primary X-Men Movie Ticket Winner Dili District
    .item
      %img(src="/attachments/winners/free_movie2.JPG" alt="$200 winner")
      .carousel-caption
        %h2.text-primary X-Men Movie Ticket Winner Dili District
    .item
      %img(src="/attachments/winners/telephone_filomena_dili.JPG" alt="freephones winner")
      .carousel-caption
        %h2 We gave out free phones to the first few winners
    .item
      %img(src="/attachments/winners/telephone_rui_dili.JPG" alt="freephones winner")
      .carousel-caption
        %h2 Rui from Dili with phone
    .item
      %img(src="/attachments/winners/telephone_wong_dili.JPG" alt="freephones winner")
      .carousel-caption
        %h2 Wong from Dili with phone
  %a(class="left carousel-control" href="#carousel-example-generic" data-slide="prev")
    %span(class="glyphicon glyphicon-chevron-left")
  %a(class="right carousel-control" href="#carousel-example-generic" data-slide="next")
    %span(class="glyphicon glyphicon-chevron-right")