Template: home
Link text: Heineken Scratch

%img{:src=>"attachments/hlogos.jpg", :width => "600", :height=>"100", :alt=>"Dashba"}

%h1  Terms and Conditions for Heineken Scratch Promotion

%h2 Promotion Terms

%ul
  %li This promotion is valid from 1 -31 July 2016. The instant win card not used within this time will be forfeited with no entitlement to refund or exchange.
  %li The scratched or used card is not able to reuse.
  %li The winner should be at minimum 18 year old and above
  %li The instant win card are to be redeemed in Timor Leste only.
  %li The instant win card are not refundable in cash or replaceable if lost, destroy or stolen
  %li The instant card is not for sale or use unless as its instructed on “how to play” on the card.
  %li The company reserves the right to amend these terms and conditions without prior notice.
  %li As a condition of claiming the prize winners agree to have their photo published in media for promotion purposes by Heineken
  %li Only Timor Telecom and Telkomcel telecom operators are supported.
  %li Exclusively for Timor Telecom, only Timor Telecom clients that are eligible to participate  are  pre-paid customers (post-paid are not included for the promo)


%h2 How to Claim Prizes 

%ul
  %li The winner needs to bring the scratch card and phone number registered in SMS for verification. If the customer does not have the instant win card but only the phone we will approve on a case by case basis.
  %li The winner must collect the prize within 14 days
  %li The customer must inform Heineken a minimum 3 days in advance prior collection the big prizes (Motorcycle, TV). 
  %li The company has the right to arrange the prizes’s collection within 3-5 days.
  %li The winner must be willing to take a pictures for  Heineken’s marketing collaterals  and advertisement purpose.
  %li 
    %h3 Pulsa: 
    %p Consumer does not need to come to collect the prize in Dili. S&A will credit the pulsa directly to their phone number account or it will be sent via sms as a PIN
    %h3 Large Prizes such as Heineken Motorcycle, TV:
    %p Consumer needs to come to Dili (S&A /Heineken Office) to collect the prize
    %p Once customer is notifies by SMS with the prize to collect, he needs to come to collect the prize and bring along id, the instant win card & SMS notification’s proof
    %p Once the prize is collected, our system will mark as PAID. The winner or anyone else will not be able to claim twice.

%h2 Customer Service Address
  %p S&A Distribution System Lda, Landmark Plaza #02-10, Fatuhada-Dili, Telp No : 78626721





%h4 Powered By: S&A Distribution System Lda
%h4 Sponsored by: Heineken Timor

