Template: home
Link text: Home page

.container
  .row
    .col-offset-3.col-md-6
      %h1 Telkomcel SMS Games
      %p.lead
        :markdown
          1 in 10 chances to win. Win up to $1000 USD on your [phone](/how-to-play).
  .row
    .col-offset-2.col-md-4
      %a(href="http://tl-sms-dashboard-public.herokuapp.com/lotto" ) 
        %p Real time dashboard
        %img{:src=>"attachments/dashboard.jpg", :width => "240", :height=>"180", :alt=>"Dashba"}
    .col-offset-1.col-md-4
      %a(href="/prizes") 
        %p Prizes
        %img{:src=>"attachments/poster.jpg", :width => "240", :height=>"180"}
  .row
    .col-offset-2.col-md-4
      %a(href="/how-to-play") 
        %p It's easy to play
        %img{:src=>"attachments/mathematica.png", :width => "200", :height=>"140"}
    .col-offset-1.col-md-4  
      %a(href="/draws") 
        %p Daily Winners
        %img{:src=>"attachments/bengraham.jpeg", :width => "150", :height=>"200"}


