Title: Odds of Winning
Template: home
Link text: Odds


.container
  .row
    .col-offset-1.col-md-10
      .hero-unit
        %section.intro
          %heading
          %h1
            = I18n.translate('howtoplay.odds')
          :markdown
            Odds are great