Title: T & C
Template: home
Link text: T&C


.container
  .row
    .col-offset-1.col-md-5
      .hero-unit
        %section.intro
          %heading
          %h1
            = I18n.translate('t_c.title')
          :markdown
            Terms and conditions here.